<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--用户信息alias-->
  <alias alias="IUserInfoRepository" type="MyBlog.DataAccess.Definition.IUserInfoRepository, MyBlog.DataAccess.Definition" />
  <alias alias="UserInfoRepository" type="MyBlog.DataAccess.Implement.UserInfoRepository, MyBlog.DataAccess.Implement" />
  <alias alias="IUserInfoLogic" type="MyBlog.Business.Definition.IUserInfoLogic, MyBlog.Business.Definition" />
  <alias alias="UserInfoLogic" type="MyBlog.Business.Implement.UserInfoLogic, MyBlog.Business.Implement" />
  <container>
    <!-- 用户信息 -->
    <register type="IUserInfoRepository" mapTo="UserInfoRepository" />
    <register type="IUserInfoLogic" mapTo="UserInfoLogic"> 
      <constructor>
        <param name="repository" type="IUserInfoRepository" />
      </constructor>
    </register>
  </container>
</unity>
